<!doctype html>
<html>
<title>Create Nostr Private Key</title>

<form method="post">
    BIP-39 mnemonic length: <select name="mnemonic_length">
        <option value="12">12</option>
        <option value="24">24</option>
    </select><br/>
    <br/>
    <input type="submit" value="Generate new key" >
</form>

{% if pk %}
    <div>{{ pk.public_key.bech32() }}</div>
    <div>{{ pk.bech32() }}</div>

    <div class="mnemonic_list">
        {% for i, word in mnemonic %}
            <div>{{i}}: {{word}}</div>
        {% endfor %}
    </div>
{% endif %}

</html>