body {
    max-width: 650px;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #cc99ff;
}
input[type="text"], input[type="password"] {
    width: 90%;
    font-size: 16px;
    padding: 0.5em;
    background-color: #fff;
    border: 1px solid #999;
    color: #333;
}
input[type="button"], input[type="submit"] {
    border-radius: 0.5em;
    border: 1px solid rgb(182, 4, 182);
    background-color: rgb(182, 4, 182);
    color: white;
    padding: 0.5em;
    margin-top: 0.125em;
    margin-bottom: 0.125em;
    cursor: pointer;
}
input[type="button"]:hover {
    background-color: rgb(249, 3, 249);
}
input[type="button"]:active {
    background-color: rgb(126, 1, 126);
}
input[readonly], textarea[readonly] {
    border: 1px solid black;
    background-color: #999;
}
textarea {
    width: 90%;
}
.section {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 2em;
}
.section_header {
    border-radius : 0.5em;
    border: 1px solid rgb(182, 4, 182);
    background-color: rgb(182, 4, 182);
    color: white;
    font-size: 20px;
    padding: 0.5em;
    cursor: pointer;
}
.section_header:hover {
    background-color: rgb(249, 3, 249);
}
.section_content {
    padding: 0.5em;
    border: 1px solid rgb(182, 4, 182);
}
.subsection {
    margin-top: 0.5em;
    margin-bottom: 1em;
    clear: both;
}
.danger {
    border: 2px solid red !important;
    /* background-color: #dd6666 !important; */
    color: white !important;
}
.start_hidden {
    display: none;
    margin-top: 0.5em;
}
.float_options {
    float: left;
    padding-right: 1em;
    margin: 0.5em;
}
.clear_both {
    clear: both;
}
.note {
    font-size: 0.7em;
    color: #333;
    font-style: italic;
}


textarea.pretty_textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding: 0.5em;
}

.footer {
    margin-top: 3em;
    border-top: 1px solid #ccc;
    font-size: 0.85em;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(182, 4, 182);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 0.5s linear infinite;

    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    /* background-color: white; */
    z-index: 100;
    margin-top: -90px;
    margin-left: -90px;
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.popup_grayout {
    background-color: rgba(0,0,0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    display: none;
}

.popup_message {
    width: 300px;
    /* height: 150px; */
    border-radius: 1em;
    border: 4px solid rgb(182, 4, 182);
    background-color: white;
    padding: 1em;
    text-align: center;

    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    margin-left: -170px;
    margin-top: -95px;
}


/* client styles */
.top_nav_right {
    float: right;
    font-size: 0.9em;
}

.npub {
    font-size: 0.8em;
    margin-left: 0.5em;
    color: #555;
}